<h2>About my website:</h2>
<p>
  <ul>
    <li>source code to be released soon. Waiting on git repo to be set up</li>
    <li>feel free to try hacking into it</li>
    <li>boring static website, I want a nice dynamic website once I learn a bit more JS</li>
  </ul>
</p>
