  <div id="nav">
    <h3>Navigation</h3>

    <ul>
    <li><a class = "one" href="index.html">Homepage</a></li>
    <li><a class = "one" href="about.php">About</a></li>
    <li><a class = "one" href="roadmap.php">Roadmap</a></li>
    <!--
    <li><a class = "one" href="/wordpress">Wordpress blog</a></li
    <li><a class = "one" href="/phpmyadmin">PHPMyAdmin</a></li>
    -->
    <li><a class = "one" href="resume.html">Resume</a></li>
    <li><a class = "one" href="mailto: jamesfranklinnetsec@gmail.com">Contact</a></li>
    <li><a class = "one" href="files.html">Downloads section</a></li>
    </ul>


    
    <h3>Projects</h3>
    <ul>
    <li><a class = "one" href="phone.php">DIY raspberry piphone project</a></li>
    <li><a class = "one" href="halium.php">Porting Halium to LG Ally</a></li>
    </ul>

  </div>
