h1,h2,h3{
	margin: 0;
}

body {
	background-color: #EEE;
}
#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}


a {
	text-decoration: none;
	color: inherit;
}

a.one:link {color:blue;}
a.one:visited {color:red;}


#header {
	background-color: orange;
	color: white;
	text-align: center;
	padding: 10px
}


#content {
	padding: 10px;
	color: grey;
	text-align: left;
	width: auto;
}
#nav {
	text-align: left;
	width:180px;
	float: left;
}
#main {
	
	width:600px;
	float: right;
	height: auto;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}

​.img{
/*
float: auto;
width: auto;
height: auto;
*/
}​
/*

.img {
    max-width: 100%;
    max-height: 100%;
}
*/

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}
