<h2>About the project</h2>
<p></p>
<h3>What is halium? Why use yet another weird mobile OS?</h3>
<p>
Halium is an interesting mobile OS architecturally, you can check it out at <a class= "one" href='https://halium.org'>https://halium.org</a> .
</p>
Halium has the advantage of using the Android kernel, as opposed to competing mobile OSs like PostMarket OS, which use the mainline linux kernel, meaning that I would be on the hook to do a much more comlpicated driver porting process, since it is between Android kernels, and not migrating from Android to Linux mainline, which potentially holds problems.
</p>

<p>
Halium also hosts two userlands for me, a familiar UNIX userland, and a containerised Android environment. This is quite useful, because I very much do not trust Android, and I would like to have clear and clean separation between the wonky Android userspace and my nice clean UNIX userland.
</p>

<p>
<img src='halium/haliumArchitecture.png' width='75%' height='75%'>
</p>

<h3>So whats the catch?</h3>
<p>
Halium doesn't have good device support. Currently there is only support 4 devices, none of them are the device I want to be using, which is this beautiful piece of work from 2011:
<p></p>
<img src='halium/thedeviceitself.jpg' height='auto' width='100%'/>

</p>
<p>
So, the LG Ally VS740, I'll just call it the Ally now on, is an old mobile phone from like 2011 or something ancient like that. I fancy it because it has a nice keyboard that would be nice for whipping out and doing some mobile sysadminning. and its antiquity allowed me to get it for just $27, including shipping. :)))
</p>
<p>
some quick facts:
<li>old android should be closer to linux in terms of kernel architecture, allowing me to have an easier time reverse engineering the android drivers and then sticking them onto another target android kernel (whatever halium uses)</li>
<li>it has only 256MB of ram, so I look forward to that challenge</li>

</p>

<p>
So given that here are my considerations:
<ul>
<li>I have to make my own ROM</li>
<li>I need to have working drivers in this ROM</li>
<li>The drivers on the phones OEM Android install are proprietary, and I have to find a way extract them cleanly so that I can inject them into the ROM</li>
<li>I want to isolate these drivers into clean kernel modules, so that they can be reused for other linux OS family installs (android kernel is a descendant of linux, so porting out of android will be trivial to then adapt it to mainline linux)</li>
<li>device storage is only 500mb ROM, so this will need to be very conservative</li>
<li>It's ARM11, which is very old, so I will have to probably be compiling a lot of ARM binaries, hence the need of compilation server, see my project about personal developer cloud for how that's going</li>

</ul>
So let's start with getting those drivers out
</p>
<h3>Finding a copy of my firmware</h3>

