<h2>DIY raspberry pi phone project</h2>
<p>
  <ul>
    <li>Runs raspbian</li>
    <li>Looks like a bomb</li>
    <li>produced entirely from open source components</li>
    <li>source code to be released soon. Waiting on git repo to be set up</li>
    <li>totally usable</li>



  </ul>
</p>
<h2>Features in development:</h2>
<p>
  <ul>
    <li>project finished, successfully made phone call</li>
    <li>find my source code whereever it is and stick into repo</li>
  </ul>
</p>
<h2>About</h2>
<p>
Successfully made a working phone ('''working''' as in it successfully TX & RX from a cell tower) using following these parts:
-Raspberry Pi 3B+
-SIM7600x 4G radio hat
-A very low res touch screen that connects into GPIO and just works :))
-a battery so that I can use it on the go, not that it's at all a practical device
</p>

<h2>Gallery</h2>
<?php
include 'piphone/phoneGallery.php';
?>
